.row
  .large-7.columns
    %p#notice= notice

    %p
      %b Name:
      = @customer.name
    %p
      %b Email:
      = @customer.email
    %p
      %b Phone:
      = @customer.phone
    %p
      %b Address:
      = @customer.address
    %p
      %b Interest:
      = @customer.interest
    %p
      %b Profession:
      = @customer.profession
    %p
      %b Company:
      = @customer.company
    %p
      %b Current:
      = @customer.current
